html {
    overflow-y: auto;
}
@media (max-width: 1279px) {
    .v-main {
        margin: 0 10px;
    }
}

.cursor-pointer {
    cursor: pointer;
}

.page-wrapper {
    display: flex;
    flex-direction: column;
    box-sizing: border-box;
    height: calc(100dvh - var(--v-layout-top, 70px));
    min-height: calc(100vh - var(--v-layout-top, 70px));
    padding: 24px;
    @media screen and (max-width: 767px) {
        padding: 20px 10px;
    }
}

.page-content {
    flex: 1 1 auto;
    min-height: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.maxWidth {
    max-width: 1200px;
    margin: 0 auto;
}

.fixed-width {
    max-width: 1300px;
}

.right-pos-img {
    position: absolute;
    right: 0;
    top: 0;
    height: 100%;
}
